$primary-color: #546fba;
$secondary-color: #f5ca00;
$show-home-image: true;
$home-image: url(/dist/img/background.jpg);
$background-opacity: 0.6;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Menu Button

.menu-btn {
  position: absolute;
  // z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;
  z-index: 4;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #f8f8f8;
    @include easeOut;
    z-index: 4;
  }

  .btn-line {
    &:hover {
      background-color: $secondary-color;
    }
  }
  // Rotate Into X with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // line 1 - rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // line 2 - hide
      &:nth-child(2) {
        opacity: 0;
      }
      // line 3 - rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  z-index: 2;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  //Nav bar side
  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      // Slides in from the top
      transform: translate3d(0, 0, 0);
    }
  }

  //Branding Side
  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      //Slide in from the bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url(/dist/img/portrait.jpg);
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-items {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      //Slide from the right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #f8f8f8;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide bar 0.1s
@for $x from 1 through 4 {
  .nav-items:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
    //for each item to slides in seperately, one at a time
  }
}

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #334652;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  z-index: -1;
}
//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    // &.lg heading --> h1.lg-heading, h2.lg-heading etc
    font-size: 7rem; // 6 * defualt px value (here's 16px)
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0;
    //background: rgba(lighten($secondary-color, 2), 0.3);
    position: relative;
    text-align: center;
  }
}

//Links

a {
  color: #334652;
  text-decoration: none;
}

//Headers

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

//Main

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;
    position: fixed;
    bottom: 2rem;
    left: 2rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut(); // @include always for using mixin
      }
    }
  }

  &#home {
    overflow: hidden; // never to have scrollbars
    h1 {
      // each h1 with the id='home'
      //margin-top: 20vh; // vh - view point height
    }
  }
}

//Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

//Widescreens
@include mediaXl {
}

//Desktops and Laptops
@include mediaLg {
}

//Tablets and Netbooks
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url(/dist/img/portrait_small.jpg);
      width: 150px;
      height: 150px;
    }
  }
}

//Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
}
